*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

nav{
    background:#003366;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

.menu{
    display:flex;
    list-style:none;
}

.menu li{
    margin-left:25px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.menu a:hover{
    color:#ffcc00;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}
